<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iefihz.seata.dao.OrderMapper">

    <insert id="add" parameterType="Order" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `t_order` (
        `provider_id`,
        `status`,
        `create_time`,
        `update_time`
        ) VALUES (
        #{providerId},
        #{status},
        #{createTime},
        #{updateTime}
        )
    </insert>
</mapper>