<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iefihz.seata.dao.StorageMapper">
    <update id="decrease" parameterType="long">
        UPDATE t_storage SET num = num - 1 WHERE id = #{providerId}
    </update>
</mapper>